
input[type=checkbox]#modal-trigger+label, button, .button {
	border-radius: 4px;
	padding: 10px 15px;
	display: block;
	background: var(--primaria);
	color: white;
	min-width: 40px;
	margin: 5px 5px;
	cursor: pointer;
	float: left;
	border: 2px solid var(--primaria);
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	text-align: center;
    width: auto;
}