.carousel__container{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  position: relative;
}

.carousel__container::after{
  content: '';
  color: white;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.5);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 25pt;
  border-radius: 50%;
  left: 10px;
  top: 50%;
}

.carousel__item{
  min-width: 100%;
  display: flex;
}

.carousel__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}